<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li *ngFor="let route of routes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]='[route.path]'>
            {{route.data.navName}}
          </a>
        </li>
        <li *ngIf="authService.loggedIn()">
          <a routerLink='/new-journey'>
            New Journey
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li *ngIf="authService.loggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink='/my-account'>
                My Account
              </a>
            </li>
        <li>
          <a *ngIf="!authService.loggedIn()" routerLink='/login'>
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
          <a *ngIf="authService.loggedIn()" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>