<div class="col-sm-9">
    <h4><small>RECENT POSTS</small></h4>
    <span *ngFor="let journey of journeys">
      <hr>
      <h2>
        <a [routerLink]="['/journeys', journey.pk]">
          {{journey.name}}
        </a>
        <a *ngIf="authService.loggedIn()" class="delete" (click)="deleteItem(journey)">
          [Delete]
        </a>
      </h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by {{ journey.written_by }}, {{ journey.first_published | date }}.</h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
    </span>
  </div>